.timestamp {
  font-size: 80%;
  color: #fff8;
}

.item {
  margin-bottom: 16px;
}

.error {
  color: #f77e;
  text-shadow: 1px 1px 4px #300;

  .timestamp {
    color: #f008;
  }
}

ul {
  display: flex;
  flex-direction: column-reverse;
}

li {
  @for $i from 5 through 15 {
    &:nth-last-child(n + #{$i}) {
      opacity: 1.5 - $i / 10;
    }
  }
}
