:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
}
p {
  align-self: center;
  margin-top: 8px;
  color: #fffb;
}

button {
  transition-property: color, border-color, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  min-width: 16ch;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  div {
    text-align: center;
  }

  div:first-child {
    color: #fffe;
  }

  div:last-child {
    margin-bottom: 4px;
    margin-left: 8px;
    font-size: 12px;
    color: #fff8;
  }

  &[disabled] {
    div:first-child {
      color: #fff8;
    }
    div:last-child {
      color: #fff5;
    }
  }
}

.display {
  font-size: 20px;
  color: #fffe;
}
