<button [appGlass]="Glass.CYCLES" [disabled]="!transistors.roundRunning || !currency.canAfford(CYCLE, upgrades.cycleUpgrades[REPLICATION]?.cost.amount)" (click)="upgrades.purchase(upgrades.cycleUpgrades[REPLICATION]!)">
  <div>replication</div>
  <div>{{upgrades.cycleUpgrades[REPLICATION]?.cost.amount | units:'1.0-0'}}</div>
</button>
<button [appGlass]="Glass.CYCLES" [disabled]="!transistors.roundRunning || !currency.canAfford(CYCLE, upgrades.cycleUpgrades[CAP]?.cost.amount)" (click)="upgrades.purchase(upgrades.cycleUpgrades[CAP]!)">
  <div>cap</div>
  <div>{{upgrades.cycleUpgrades[CAP]?.cost.amount | units:'1.0-0'}}</div>
</button>
<button [appGlass]="Glass.CYCLES" [disabled]="!transistors.roundRunning || !currency.canAfford(CYCLE, upgrades.cycleUpgrades[CAP_GROWTH]?.cost.amount)" (click)="upgrades.purchase(upgrades.cycleUpgrades[CAP_GROWTH]!)">
  <div>cap growth</div>
  <div>{{upgrades.cycleUpgrades[CAP_GROWTH]?.cost.amount | units:'1.0-0'}}</div>
</button>
<p [appGlass]="Glass.CYCLES"><span class="display" id="cycle-count">{{currency[CYCLE] | units:'1.1-1'}}</span> cycles</p>
