<nav>
  <ul class="help-list" #helpList>
    <li [class.visible]="elVisible(overview)"><a (click)="handleNavClick($event, overview, 'overview')" href="{{loc.path()}}#overview">Overview</a></li>
    <li [class.visible]="elVisible(rounds)"><a (click)="handleNavClick($event, rounds, 'rounds')" href="{{loc.path()}}#rounds">Rounds</a></li>
    <li [class.visible]="elVisible(chips)"><a (click)="handleNavClick($event, chips, 'chips')" href="{{loc.path()}}#chips">Chips</a></li>
    <li [class.visible]="elVisible(ai)"><a (click)="handleNavClick($event, ai, 'ai')" href="{{loc.path()}}#ai">AI</a></li>
    <li [class.visible]="elVisible(credits)"><a (click)="handleNavClick($event, credits, 'credits')" href="{{loc.path()}}#credits">Credits</a></li>
    <li [class.visible]="elVisible(bonusTicks)"><a (click)="handleNavClick($event, bonusTicks, 'bonus-ticks')" href="{{loc.path()}}#bonus-ticks">Bonus Ticks</a></li>
    <li [class.visible]="elVisible(autobuyers)"><a (click)="handleNavClick($event, autobuyers, 'autobuyers')" href="{{loc.path()}}#autobuyers">Autobuyers</a></li>
    <li [class.visible]="elVisible(stats)"><a (click)="handleNavClick($event, stats, 'stats')" href="{{loc.path()}}#stats">Stats</a></li>
    <li [class.visible]="elVisible(states)"><a (click)="handleNavClick($event, states, 'states')" href="{{loc.path()}}#states">States</a></li>
    <li [class.visible]="elVisible(hotkeys)"><a (click)="handleNavClick($event, hotkeys, 'hotkeys')" href="{{loc.path()}}#hotkeys">Hotkeys</a></li>
  </ul>
</nav>

<div class="help-text" #helpText>
  <section #overview>
    <h2><a id="overview">Overview</a></h2>
    <p>Welcome to <span class="mark">Transistors Inc</span>. You are the owner of a seed transistor that creates self-replicating transistors. Your goal right now is to run it as efficiently as possible to get transistors to convert into chips. You can then allocate chips to train AI or sell them for credits.</p>
  </section>
  <section #rounds>
    <h2><a id="rounds">Rounds</a></h2>
    <p>A round can be started using the button in the top right corner, or by pressing <kbd>s</kbd>. Initially a round lasts 15 seconds. Every second during a round, the transistor count will be multiplied by the seed's replication rate. The initial seed contains 100 permanent transistors that can not be converted into chips but are always available for replication.</p>
    <p>While running, transistors generate 1 cycle every second. Cyles are used to upgrade the main three production stats: replication rate, cap, and cap growth. These upgrades reset at the start of every round. The rate of cycle generation can be improved.</p>
  </section>
  <section #chips>
    <h2><a id="chips">Chips</a></h2>
    <p>Chips can be used to generate AI and perform research (<small>Coming Soon!&trade;</small>). Chips can also be used to purchase upgrades for production stats that persist from round to round.</p>
    <p>At the end of each round, transistors are automatically converted into as many chips as possible, at a rate of 1 chip per 100 transistors. Any remaining transistors are thrown in the garbage, poor guys.</p>
  </section>
  <section #ai>
    <h2><a id="ai">AI</a></h2>
    <p>Chips can be allocated to generating AIs. By default, it takes 10 seconds to generate ome. AIs provide stat modifiers improving things like cycle generation, the exchange rate for credits, and more. Every order of magnitude of chips allocated when training will multiply the range of every line. For example, with 1000 chips allocated, AIs will roll with stats scaled by log(1000) = 3.</p>
    <p>There are currently five tiers of AI: Undergrad ⇢ Grad ⇢ Professor ⇢ Nobel ⇢ Breakthrough. The tier of the AI is directly proportional to the number of modifiers (or lines) it rolls (Undergrad rolls 1, Grad rolls 2...). The first and second lines will always be a normal mod, but the third has a 20% chance to be a special mod, and the fourth and fifth are always special mods. The normal mods of an AI are further multiplied by its tier.</p>
    <p>There is an 20% chance by default to promote an AI from tier 1 to tier 2. Then another 20% chance to promote from tier 2 to tier 3, and so on up until tier 5. In other words:</p>
    <ul>
      <li>80% chance to roll tier 1</li>
      <li>80% × 20% = 16% chance to roll tier 2</li>
      <li>80% × 20%<sup>2</sup> = 3.2% chance to roll tier 3</li>
      <li>80% × 20%<sup>3</sup> = 0.64% chance to roll tier 4</li>
      <li>20%<sup>4</sup> = 0.16% chance to roll tier 5</li>
    </ul>
    <p>The 20% corresponds to the AI promotion chance and increases gradually every chip upgrade purchased.</p>
  </section>
  <section #credits>
    <h2><a id="credits">Credits</a></h2>
    <p>Credits are used to purchase round length increases and an autobuyer for cycle upgrades. Credits will also be used to purchase all sorts of interesting things (<small>Coming Soon!&trade;</small>). Credits can be earned by selling chips, initially at a rate of 1 credit per chip.</p>
  </section>
  <section #bonusTicks>
    <h2><a id="bonus-ticks">Bonus Ticks</a></h2>
    <p>These are a special currency.</p>
  </section>
  <section #autobuyers>
    <h2><a id="autobuyers">Autobuyers</a></h2>
    <p>These are <b>not</b> a special currency.</p>
  </section>
  <section #stats>
    <h2><a id="stats">Stats</a></h2>
    <p>There are multiple stats with different effects:</p>
    <ul>
      <li>R is the replication rate, which is used to determine how many transistors gained every second. For example, with 100 transistors, and a replication rate of 0.05, in the next second 100 × 0.05 = 5 transistors are gained, for a total of 105 transistors</li>
      <li>M is the cap, which represents the max number of transistors that can be made in a round</li>
      <li>T is the cap growth, which increases the cap (for that round) by a flat amount for every second spent in the Increase M state</li>
      <li>f represents the probabilities of rolling a certain tier of AI and is explained in more detail in the AI section</li>
      <li>Cycles are generated at a base rate of 1 per transistor per second and are used to purchase upgrades during a round</li>
    </ul>
  </section>
  <section #states>
    <h2><a id="states">States</a></h2>
    <p>A seed can be in one of three toggleable states and can be changed at any time. The states are:</p>
    <ul>
      <li>Run Fast increases the round speed by 4× but gives no other bonus</li>
      <li>Increase R doubles the replication rate</li>
      <li>Increase M raises the cap by the cap growth (T) every second</li>
    </ul>
  </section>
  <section #hotkeys>
    <h2><a id="hotkeys">Hotkeys</a></h2>
    <table>
      <tr>
        <td>Start Round</td>
        <td><kbd>s</kbd><kbd>S</kbd></td>
      </tr>
      <tr>
        <td>Generate New AI</td>
        <td><kbd>a</kbd><kbd>A</kbd></td>
      </tr>
      <tr>
        <td>Set state to Run Fast</td>
        <td><kbd>q</kbd><kbd>Q</kbd></td>
      </tr>
      <tr>
        <td>Set state to Increase R</td>
        <td><kbd>w</kbd><kbd>W</kbd></td>
      </tr>
      <tr>
        <td>Set state to Increase M</td>
        <td><kbd>e</kbd><kbd>E</kbd></td>
      </tr>
      <tr>
        <td>Buy Replication Cycle Upgrade</td>
        <td><kbd>1</kbd></td>
      </tr>
      <tr>
        <td>Buy Cap Cycle Upgrade</td>
        <td><kbd>2</kbd></td>
      </tr>
      <tr>
        <td>Buy Cap Growth Cycle Upgrade</td>
        <td><kbd>3</kbd></td>
      </tr>
      <tr>
        <td>Upgrades page</td>
        <td><kbd>u</kbd><kbd>U</kbd></td>
      </tr>
      <tr>
        <td>AI page</td>
        <td><kbd>i</kbd><kbd>I</kbd></td>
      </tr>
      <tr>
        <td>Options page</td>
        <td><kbd>o</kbd><kbd>O</kbd></td>
      </tr>
      <tr>
        <td>Log page</td>
        <td><kbd>p</kbd><kbd>P</kbd></td>
      </tr>
    </table>
  </section>
  <div class="overscroll"></div>
</div>
