:host {
  display: flex;
}

.help-list {
  position: sticky;
  top: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  margin: 24px;
  border: 1px solid #fff3;
  background: hsl(260, 15%, 10%);

  li {
    padding: 0;
    margin: 0;

    &.visible {
      background: hsl(260, 15%, 13%);
      color: #fffe;

      a {
        color: #fffe;
        &:hover {
          color: #f98532;
          background: hsl(260, 15%, 8%);
        }
      }
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 4px 24px;
      justify-content: center;
      color: #fff8;
      &:hover {
        color: #f9853288;
        background: hsl(260, 15%, 8%);
      }
    }
  }
}

.help-text {
  max-width: 70ch;

  p,
  ul,
  li,
  table {
    user-select: text;
    font-family: var(--copy-font);
    // font-size: 18px;
    // font-weight: 300;
  }

  h2 {
    border-bottom: 2px solid #fffe;
    margin-left: 16px;
    margin-top: 8px;
    padding-bottom: 4px;

    a {
      user-select: text;
    }

    section:not(:first-child) > & {
      margin-top: 24px;
      border: 1px solid #f0f;
      background: #0f0;
    }
  }

  section:not(:first-child) > h2 {
    margin-top: 24px;
  }

  li {
    padding-left: 4px;
    padding-right: 24px;
    margin-left: 44px;
    margin-top: 8px;
    list-style: circle;
    line-height: 1.25;
  }

  p {
    text-indent: 2ch;
    padding-right: 8px;
    margin-left: 16px;
    margin-top: 8px;
    line-height: 1.25;
  }

  table {
    table-layout: fixed;
    margin: 8px 16px;
    border-collapse: collapse;
  }

  td {
    padding: 4px 8px;
  }

  .highlight {
    position: relative;
    color: #f98532;
    user-select: text;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: hsl(260, 15%, 15%);
      z-index: -1;
    }
  }

  .mark {
    position: relative;
    user-select: text;
    font-weight: 700;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -2px;
      right: -2px;
      top: 20%;
      background: linear-gradient(to top, #f9853288, hsl(260, 15%, 10%));
      z-index: -1;
    }
  }

  kbd {
    color: #fffe;
    background: hsl(260, 15%, 15%);
    border: 1px solid hsl(260, 15%, 35%);
    padding: 0 2px;
    font-size: 110%;
    border-radius: 2px;
    user-select: text;
    margin-right: 2px;
  }

  .overscroll {
    height: 20vh;
    width: 100%;
  }
}

small {
  color: #fcfe;
}

sup {
  font-size: 60%;
  vertical-align: super;
}

b {
  font-weight: 700;
}

em {
  font-style: italic;
}
