:host {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#reset {
  font-variant: small-caps;
  border: 1px solid #f008;
  background: #f002;
  color: #f00e;

  box-shadow: 0 0 0 0 #f00e;
  transition: all 200ms ease-in-out;

  &:hover {
    box-shadow: 0 0 5px 5px #f008;
  }
}

#glass-box {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80%;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  button {
    width: 25ch;
  }

  .active {
    background-color: #a0a;
  }
}
