<div>
  <p>Format Text: {{ options.format ? 'ON' : 'OFF' }}</p>
  <p>Log Length: {{ options.logLength | units:'1.0-0' }}</p>
  <button id="idle-allocation-button" (click)="toggleIdle()">{{ options.showIdleAllocation ? 'Hide' : 'Show' }} Idle Allocation</button>
  <p *ngIf="options.cheatMode">Cheat Mode ACTIVE</p>
  <br>
  <button id="cheat" (click)="options.toggleCheatMode()">Toggle Cheet</button>
  <br>
  <br>
  <button id="reset" (click)="reset()">Reset</button>
  <br>
</div>

<div *ngIf="options.cheatMode" id="glass-box">
  <ul>
    <li *ngFor="let label of GlassLabel"><button (click)="toggleLabel(label)" [class.active]="checkLabel(label)">{{label}}</button></li>
  </ul>
  <button (click)="tutorial.toggle()" [class.active]="tutorial.active">Switch Tutorial</button>
</div>
