<div class="container">
  <div>
    <div class="chip-upgrades">
      <app-upgrade-card [modCategory]="modCategory.CHIP" [modType]="modType.MULTIPLY_REPLICATION" [sourceList]="chipUpgrades.replicationUpgrades"></app-upgrade-card>
      <app-upgrade-card [modCategory]="modCategory.CHIP" [modType]="modType.MULTIPLY_CAP" [sourceList]="chipUpgrades.capUpgrades"></app-upgrade-card>
      <app-upgrade-card [modCategory]="modCategory.CHIP" [modType]="modType.MULTIPLY_CAP_GROWTH" [sourceList]="chipUpgrades.capGrowthUpgrades"></app-upgrade-card>
    </div>
    <div class="credit-upgrades">
      <app-upgrade-card [modCategory]="modCategory.CREDIT" [modType]="modType.INCREASE_ROUND_LENGTH" [sourceList]="creditUpgrades.roundLengthUpgrades"></app-upgrade-card>
      <app-upgrade-card [modCategory]="modCategory.CREDIT" [modType]="modType.DECREASE_AUTOBUY_DELAY" [sourceList]="creditUpgrades.autobuyDelayUpgrades"></app-upgrade-card>
    </div>
  </div>
  <div class="cycle-upgrades">
    <app-upgrade-card [modCategory]="modCategory.CYCLE" [modType]="modType.MULTIPLY_REPLICATION" [sourceList]="cycleUpgrades.replicationUpgrades"></app-upgrade-card>
    <app-upgrade-card [modCategory]="modCategory.CYCLE" [modType]="modType.MULTIPLY_CAP" [sourceList]="cycleUpgrades.capUpgrades"></app-upgrade-card>
    <app-upgrade-card [modCategory]="modCategory.CYCLE" [modType]="modType.MULTIPLY_CAP_GROWTH" [sourceList]="cycleUpgrades.capGrowthUpgrades"></app-upgrade-card>
  </div>
</div>
