:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  &.sell {
    justify-content: flex-start;
    position: relative;

    button {
      font-size: 90%;
    }
  }

  .running {
    display: flex;
    flex-direction: column;

    .dark {
      opacity: 0.2;
    }
  }

  .state {
    display: flex;
    button {
      flex-grow: 1;
    }
    :disabled {
      color: #f98532ee;
      border-color: #f9853288;
      background: #f9853222;
    }
  }
}

.bonus-ticks {
  transition: all 250ms ease-in-out;
}

button {
  transition-property: color, border-color, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

span.bonus-ticks,
button.active.bonus-ticks {
  color: #000;
  text-shadow: 0 2px 4px #fffe, 0 -2px 4px #fffe, 1px 0 2px #fffe, -1px 0 2px #fffe;
  font-weight: 700;

  &:hover {
    color: #f98532;
    text-shadow: 0 2px 4px #000e, 0 -2px 4px #000e, 1px 0 2px #000e, -1px 0 2px #000e;
  }

  .display {
    color: hsl(0, 90%, 60%);
    text-shadow: 0 2px 4px #fff3, 0 -2px 4px #fff3, 1px 0 2px #fff3, -1px 0 2px #fff3;
  }
}

button.bonus-ticks {
  &.active {
    box-shadow: inset 0 0 16px #fff5;
  }
  &:disabled {
    visibility: hidden;
  }
}

.round-start {
  position: relative;
  display: flex;
  border: 1px solid #fff5;
  margin: 2px;

  button {
    width: 100%;
    box-sizing: content-box;
    padding: 8px;
    margin: 0;
    border: 0;
  }
  app-progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .round-duration,
  .round-length {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }

  .round-remaining {
    color: #fffb;
  }
  .round-duration {
    top: 4px;
    font-size: 20px;
    color: #fffe;
  }

  .round-length {
    bottom: 4px;
    font-size: 12px;
    color: #fff5;
  }
}

.train-ai {
  position: relative;
  display: flex;
  border: 1px solid #fff5;
  margin: 2px;

  button {
    width: 100%;
    box-sizing: content-box;
    padding: 8px;
    margin: 0;
    border: 0;

    &.invisible {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: 10;
    }
  }
  app-progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .training-duration,
  .training-length {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }

  .training-remaining {
    color: #fffb;
  }
  .training-duration {
    top: 4px;
    font-size: 20px;
    color: #fffe;
  }

  .training-length {
    bottom: 4px;
    font-size: 12px;
    color: #fff5;
  }
}
