<div class="running">
  <div [appGlass]="Glass.START_ROUND" class="round-start">
    <app-progress *ngIf="transistors.roundRunning" [type]="roundTimerBar" [max]="mod.roundLength" [value]="transistors.roundDuration"></app-progress>
    <button #roundStartButton id="round-start-button" [style.visibility]="transistors.roundRunning ? 'hidden' : 'visible'" [disabled]="!transistors.canStart" (click)="roundStartButton.blur(); transistors.startRound()">Start Round</button>
    <div *ngIf="transistors.roundRunning" class="round-duration">{{mod.roundLength.sub(transistors.roundDuration).div(MS_PER_SEC) | units:'1.1-1'}}<span class="round-remaining">s</span></div>
    <div *ngIf="transistors.roundRunning" class="round-length">{{mod.roundLength.div(MS_PER_SEC) | units:'1.0-0'}}s total</div>
  </div>
  <div [appGlass]="Glass.GENERATE_AI" class="train-ai">
    <button class="invisible" *ngIf="aiTraining"></button>
    <app-progress *ngIf="aiTraining" [type]="roundTimerBar" [max]="aiTarget" [value]="aiProgress"></app-progress>
    <button #trainAiButton [style.visibility]="aiTraining ? 'hidden' : 'visible'" [disabled]="!aiTrainer.canTrain" (click)="trainAiButton.blur(); trainAi()">Generate New AI</button>
    <div *ngIf="aiTraining" class="training-duration">{{aiTarget.sub(aiProgress) | units:'1.1-1'}}<span class="training-remaining">s</span></div>
    <div *ngIf="aiTraining" class="training-length">{{aiTarget | units:'1.0-0'}}s total</div>
  </div>
</div>
<button [appGlass]="Glass.BONUS_TICKS" [disabled]="currency[BONUS_TICK].lte(0)" [class.active]="bonusTicks.enabled" class="small bonus-ticks" (click)="bonusTicks.toggle()">Toggle Bonus Ticks</button>
<div [appGlass]="Glass.TRANSISTOR_STATE" class="state">
  <button #increaseSpeed id="increase-speed-button" [disabled]="transistors.currentState === TransistorState.INCREASE_SPEED" (click)="increaseSpeed.blur(); transistors.setState(TransistorState.INCREASE_SPEED)">{{TransistorState.INCREASE_SPEED}}</button>
  <button #increaseReplication id="increase-replication-button" [disabled]="transistors.currentState === TransistorState.INCREASE_R" (click)="increaseReplication.blur(); transistors.setState(TransistorState.INCREASE_R)">{{TransistorState.INCREASE_R}}</button>
  <button #increaseCap id="increase-cap-button" [disabled]="transistors.currentState === TransistorState.INCREASE_M" (click)="increaseCap.blur(); transistors.setState(TransistorState.INCREASE_M)">{{TransistorState.INCREASE_M}}</button>
</div>
