nav {
  flex-shrink: 0;
  display: flex;
  border-top: 1px solid #fff3;
  border-bottom: 1px solid #fff3;
  margin: 2px 0;
  background: hsl(260, 15%, 10%);

  a {
    padding: 8px 16px;
    margin: -1px 1px;
    border: 1px solid transparent;
    z-index: 1;

    &.highlight {
      background: #f9853233;
    }

    &.active {
      font-weight: 700;
      border: 1px solid #fff3;
      border-top: 1px solid hsl(260, 15%, 8%);
      border-bottom: 1px solid hsl(260, 15%, 8%);
      background: hsl(260, 15%, 8%);
      z-index: 0;
    }
  }
}
