<div class="wrapper">
  <!-- <input #valueInput type="text" [value]="value / max | percent:'1.2-2'" (blur)="handleInputValue(valueInput.value)" (focus)="valueInput.select()" (keyup.enter)="handleInputValue(valueInput.value); valueInput.blur()"> -->
  <div class="outer">
    <div class="label">{{label}}</div>
    <div class="background">
      <div class="value" [style.width]="value / max | percent:'1.2-2'"></div>
      <div class="thumb" [style.left]="value / max | percent:'1.2-2'"></div>
    </div>
    <div class="click-zone" (mousedown)="handleMouseDown($event)" (touchstart)="handleTouchStart($event)"></div>
    <fa-icon (click)="lockChange.emit(!lock)" [icon]="lockIcon" [styles]="{'vertical-align': 'unset'}" [fixedWidth]="true" size="xs"></fa-icon>
  </div>
  <input #valueInput
         type="text"
         [disabled]="lock"
         [value]="internalValue"
         (blur)="handleInputValue(valueInput.value); valueInput.value = internalValue"
         (focus)="valueInput.select()"
         (keyup.enter)="handleInputValue(valueInput.value); valueInput.blur(); valueInput.value = internalValue">
</div>
