@import "variables";

.wrapper {
  display: flex;
  width: 300px;
  padding-right: 24px;
  justify-content: stretch;
  height: 100%;
}

input {
  font-family: var(--main-font);
  width: 8ch;
  font-size: 110%;
  font-weight: 700;
  border: 2px solid transparent;
  color: #fffe;
  background: transparent;
  margin-left: 30px;
  padding-left: 0px;
  text-align: start;
  transition: all 150ms ease-in-out;
  height: 100%;

  &:hover {
    border-left-color: #f98532;
    background: #7772;
  }

  &:focus {
    border-color: #f9853255;
    background: #7772;
  }

  &::selection {
    background: transparent;
    color: #f98532;
  }

  &:disabled {
    background: #7771;
    border-left-color: #f9853255;
    color: #fff5;
  }
}

.outer {
  position: relative;
  height: 100%;
  width: 100%;
}

.label {
  margin-left: 4px;
  font-size: 80%;
  font-weight: 700;
  color: #fff;
}

.background {
  background: #7772;
  position: absolute;
  left: 0;
  right: 0;
  top: 7px;
  bottom: 7px;
}

.value {
  background: #f9853255;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 0;
}

.thumb {
  position: absolute;
  top: 50%;
  top: -6px;
  bottom: -6px;
  width: 4px;
  transform: translateX(-50%);
  background: transparentize($orange, 0.1);
  border: 1px solid #131115;
}

.click-zone {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: 0px;
  z-index: 1;
  opacity: 0;
}

fa-icon {
  top: 50%;
  position: absolute;
  right: -24px;
  transform: translateY(-50%);
}
