<button [disabled]="!transistors.canSell || allTransistors.lt(one)" (click)="sellOne()">Sell {{one | units:'1.0-0' }} for {{creditAmount(one) | units:'1.0-2'}}</button>
<button *ngIf="logTen.gt(0) && getSellTier(0).gt(1)" [disabled]="!transistors.canSell" (click)="sell(getSellTier(0))">Sell {{getSellTier(0) | units:'1.0-0'}} for {{creditAmount(getSellTier(0)) | units:'1.0-2'}}</button>
<button *ngIf="logTen.gt(1) && getSellTier(1).gt(1)" [disabled]="!transistors.canSell" (click)="sell(getSellTier(1))">Sell {{getSellTier(1) | units:'1.0-0'}} for {{creditAmount(getSellTier(1))| units:'1.0-2'}}</button>
<button *ngIf="logTen.gt(2) && getSellTier(2).gt(1)" [disabled]="!transistors.canSell" (click)="sell(getSellTier(2))">Sell {{getSellTier(2) | units:'1.0-0'}} for {{creditAmount(getSellTier(2)) | units:'1.0-2'}}</button>
<button *ngIf="allTransistors.gte(2)" [disabled]="!transistors.canSell" (click)="sellAll()">Sell {{allTransistors | units:'1.0-0'}} for {{creditAmount(allTransistors) | units:'1.0-2'}}</button>
