:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

button {
  font-size: 90%;
  transition-property: color, border-color, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
