:host {
  position: fixed;
  bottom: 8px;
  right: 8px;
  // height: 64px;
  border-top-left-radius: 12px;
  border: 1px solid #fff5;
  padding: 12px;
  transition: all 300ms ease-in-out;
  opacity: 0.3;
  background: #131117;
  display: flex;

  &:hover {
    opacity: 1;
  }
}

a {
  // height: 32px;
  // width: 40px;
  margin-right: 12px;
  display: inline-block;
  box-sizing: border-box;
}

button {
  border: none;
  position: absolute;
  top: -8px;
  right: -8px;
  color: #fff5;
  transition: all 300ms ease-in-out;

  &:hover {
    color: #fffe;
  }
}
