<a href="https://www.reddit.com/r/transistorsinc/" target="_blank">
  <fa-icon [icon]="reddit" size="2x" [fixedWidth]="true"></fa-icon>
</a>

<a href="https://discord.gg/ES8zte9" target="_blank">
  <fa-icon [icon]="discord" size="2x" [fixedWidth]="true"></fa-icon>
</a>

<button (click)="close()">
  <fa-icon [icon]="closeIcon" size="xs" [fixedWidth]="true"></fa-icon>
</button>
