:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(2, min-content) 1fr;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-areas:
    "selling selling selling . data data . cycle cycle game-buttons game-buttons game-buttons"
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "main main main main main main main main main main main main";
  padding: 0 2px;

  > section {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 8px;
  grid-area: main;
}

app-nav {
  grid-area: nav;
}

app-social-media {
  position: absolute;
}

#selling {
  justify-content: flex-end;
  flex-direction: row-reverse;
  grid-area: selling;
}
#data {
  grid-area: data;
  justify-content: center;
}
#cycle {
  grid-area: cycle;
  justify-self: stretch;
  justify-content: flex-end;
}
#game-buttons {
  grid-area: game-buttons;
  justify-self: stretch;
}

#outlet {
  overflow: auto;
  flex-grow: 1;
  margin: -8px;
  padding: 8px;
  position: relative;
}

.label {
  font-size: 19px;
  text-align: center;
  color: #f9853288;
  writing-mode: vertical-lr;
  &.right {
    border-right: 1px solid #f9853222;
    margin-right: 2px;
    margin-left: 20px;

    div {
      transform: rotateZ(-180deg);
    }
  }

  &.left {
    border-left: 1px solid #f9853222;
    margin-left: 2px;
    margin-right: 20px;
  }
}

// @media screen and (max-width: 1000px) {
//   :host {
//     grid-template-columns: repeat(10, minmax(0, 1fr));
//     grid-template-areas:
//       "selling selling . data data cycle cycle game-buttons game-buttons game-buttons"
//       "nav nav nav nav nav nav nav nav nav nav"
//       "main main main main main main main main main main";
//   }
// }

// @media screen and (max-width: 900px) {
//   :host {
//     grid-template-columns: repeat(9, minmax(0, 1fr));
//     grid-template-areas:
//       "selling selling data data cycle cycle game-buttons game-buttons game-buttons"
//       "nav nav nav nav nav nav nav nav nav"
//       "main main main main main main main main main";
//   }
// }

@media screen and (max-width: 800px) {
  :host {
    grid-template-rows: min-content min-content 1fr min-content min-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "data data"
      "nav nav"
      "main main"
      "selling cycle"
      "game-buttons game-buttons";
  }

  app-game-buttons {
    flex-direction: column-reverse;
  }
}
