<section id="selling">
  <div class="left label" [appGlass]="Glass.SELL_BUTTONS">
    <div>sell chips</div>
  </div>
  <app-selling [appGlass]="Glass.SELL_BUTTONS"></app-selling>
</section>
<section id="data">
  <app-data></app-data>
</section>
<section id="cycle">
  <div class="right label" [appGlass]="Glass.CYCLES">
    <div>cycle upgrades</div>
  </div>
  <app-cycle [appGlass]="Glass.CYCLES"></app-cycle>
</section>
<section id="game-buttons">
  <app-game-buttons></app-game-buttons>
</section>
<app-nav></app-nav>
<main>
  <section id="outlet">
    <router-outlet></router-outlet>
  </section>
</main>
<app-social-media *ngIf="options.showSocialMedia"></app-social-media>
