:host {
  color: #fffb;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.display {
  font-size: 20px;
  color: #fffe;
}

.bonus-ticks {
  transition: all 250ms ease-in-out;
  color: #000;
  text-shadow: 0 2px 4px #fffe, 0 -2px 4px #fffe, 1px 0 2px #fffe, -1px 0 2px #fffe;
  font-weight: 700;

  &:hover {
    color: #f98532;
    text-shadow: 0 2px 4px #000e, 0 -2px 4px #000e, 1px 0 2px #000e, -1px 0 2px #000e;
  }

  .display {
    color: hsl(0, 90%, 60%);
    text-shadow: 0 2px 4px #fff3, 0 -2px 4px #fff3, 1px 0 2px #fff3, -1px 0 2px #fff3;
  }
}

.seed-transistors {
  color: #69f;
}

.chips-display {
  opacity: 1;
  transition: opacity 100ms ease-in-out;

  &.hidden {
    opacity: 0;
  }
}

.chips {
  color: #fffe;
}

.transistors {
  border: 1px solid #fff8;
  border-top: 0;
  border-bottom: 0;
  padding: 0 4px 0 2px;
  margin: 0 4px;
  background: #7771;
}

.primary-display {
  font-size: 32px;
  color: #fffe;

  .divider {
    font-size: 24px;
    color: #fffb;
  }

  .small {
    font-size: 16px;
    color: #fffb;
  }
}
