<div [appGlass]="Glass.TRANSISTORS" class="primary-display"><span id="transistor-count">{{currency[TRANSISTOR] | units:'1.0-0'}}</span><span class="divider">/</span><span class="small">{{transistors.m | units:'1.0-0'}} transistors</span></div>
<div class="chips-display" [class.hidden]="currency[CHIP].eq(0)" [appGlass]="Glass.CHIPS"><span class="chips" id="chip-count">{{currency[CHIP] | units:'1.0-0'}}</span> chips</div>
<div class="spacer"></div>
<p [appGlass]="Glass.BONUS_TICKS"><span *ngIf="currency[BONUS_TICK].gt(0)" class="bonus-ticks"><span class="display">{{currency[BONUS_TICK].div(MS_PER_SEC) | units:'1.0-2'}}</span> bonus seconds</span></p>
<p [appGlass]="Glass.CREDITS"><span class="display">{{currency[CREDIT] | units: '1.1-1'}}</span> credits</p>
