<div *ngIf="defined(upgrade)" class="container" (click)="handleClick()" [class.disabled]="!canAfford">
  <div class="header">
    <h3>{{ name }}</h3>
    <div>{{ upgrade?.cost.amount | units:'1.0-0' }} {{ upgrade?.cost.currency }}</div>
  </div>
  <div class="small">
    <div>
      {{ upgrade?.description(mod.get(modCategory, modType)) }}
    </div>
    <div>Power {{ upgrade?.level }}</div>
  </div>
  <ul>
    <li *ngFor="let i of sourceList">
      <fa-icon *ngIf=" upgrades.purchased.has(i)" [icon]="solid.faSquare" size="xs" [styles]="{'vertical-align': 'unset'}" [fixedWidth]="true"> </fa-icon>
      <fa-icon *ngIf="upgrades.available.has(i)" [icon]="icons.faSquare" class="purchasable" size="xs" [styles]="{'vertical-align': 'unset'}" [fixedWidth]="true"></fa-icon>
      <fa-icon *ngIf="!upgrades.purchased.has(i) && !upgrades.available.has(i)" class="unavailable" [icon]="icons.faSquare" size="xs" [styles]="{'vertical-align': 'unset'}" [fixedWidth]="true"></fa-icon>
    </li>
  </ul>
</div>
