.container {
  width: 400px;
  margin: 4px;
  padding: 4px;
  border: 1px solid #fffe;

  &:hover {
    .header,
    .purchasable {
      color: #f98532;
    }
  }
}

.header,
.small {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.small {
  margin-bottom: 4px;
  color: #fff8;
}

fa-icon {
  color: #fffe;
  margin: -1px;
  vertical-align: "unset";
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.disabled {
  color: #fff8;
  border-color: #fff5;
  background: #0000;

  fa-icon {
    color: #fff8;
  }

  .small {
    color: #fff5;
  }

  .unavailable {
    color: #fff2;
  }

  &:hover {
    .header,
    .purchasable {
      color: currentColor;
    }
  }
}

.unavailable {
  color: #fff5;
}
