<div [appGlass]="Glass.HOME_INFO" class="home-info">
  <h3>Random Info</h3>
  <p><span class="seed-transistors">{{transistors.seedN | units:'1.0-0'}}</span> seed transistors</p>
  <p><span class="display">{{transistors.rawGain() | units:'1.1-3'}}</span> transistors per second</p>
</div>

<div id="test-div">
  <h3>Chip Allocation</h3>
  <div class="sliders">
    <app-slider-set [bars]="bars" (barsChange)="handleBarsChange($event)" [max]="barMax" [step]="1"></app-slider-set>
  </div>
</div>

<app-diagnostics *ngIf="options.cheatMode"></app-diagnostics>
