:host {
  display: flex;
  justify-content: space-between;
}

app-diagnostics {
  top: 16px;
  right: 16px;
}

.home-info {
  margin: 0 8px;
  color: #fffb;
  display: flex;
  flex-direction: column;
  margin-left: 2ch;
  h3 {
    color: #fffe;
  }

  .seed-transistors {
    color: #69f;
  }

  .display {
    font-size: 20px;
    color: #fffe;
  }
}

#test-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .sliders {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }
}

app-slider {
  height: 24px;
  margin: 4px;
  width: 200px;
}
