<div class="sliders">
  <app-slider *ngFor="let bar of barsBars"
              [max]="max"
              [(lock)]="bar.lock"
              [label]="bar.label"
              [value]="bar.value"
              (valueChange)="handleValue(bar, $event)"></app-slider>
</div>
