/* You can add global styles to this file, and also import other style files */
@import "assets/reset.css";

* {
  box-sizing: border-box;
  user-select: none;
}

$mainFont: "PT Sans", sans-serif;
$copyFont: "Roboto Condensed", sans-serif;
$monoFont: "PT Mono", monospace;

html,
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  --main-font: #{$mainFont};
  --copy-font: #{$copyFont};
  --mono-font: #{$monoFont};
  font-family: var(--main-font);
  font-size: 16px;
  color: #fffe;
  background: hsl(260, 15%, 8%);
}

.sans-condensed {
  --copy-font: "PT Sans Narrow", sans-serif;
}

pre,
kbd,
code,
.monospace {
  font-family: var(--mono-font);
}

button {
  font-family: var(--main-font);
  background: #0000;
  border: 1px solid #fffd;
  color: #fffe;
  margin: 2px;
  padding: 2px 8px;
  font-size: 18px;

  &:hover {
    color: #f98532;
  }

  &:disabled {
    color: #fff8;
    border-color: #fff5;
    background: #0000;
  }
}

a {
  color: #fffe;
  text-decoration: none;

  &:visited,
  &:active,
  &:focus {
    color: #fffe;
  }

  &:hover {
    color: #f98532;
  }
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  a {
    font-size: 18px;
  }

  + h3 {
    font-size: 16px;
    margin-top: 0;
  }
}

strong {
  font-weight: 700;
}

markdown {
  a {
    color: #fff8;
    font-size: 80%;
  }

  li {
    list-style: inside disc;
    padding: 2px 4px;
  }
}

small,
.small {
  font-size: 80%;
}

.large {
  font-size: 120%;
}

.spacer {
  flex-grow: 1;
}
